
#navBar{
    text-align: end;
    border-bottom: 5px solid brown;
}

a{
    color: #a52a2a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    margin-left: 15px;
}