body {
    background-color: black;
  }
  
  #appName {
    font-size: 6rem; 
    font-family: 'Courier New', Courier, monospace;
    color: rgb(15, 160, 49);
    text-align: center;
  }
  
  .icon { 
    display: block;
    width: 100%; 
    max-width: 300px; 
    margin: 1rem auto; 
    padding: 1.5rem 3rem; 
    font-size: 1.5rem; 
    border-radius: 0.5rem; 
    text-align: center;
    text-decoration: none;
    color: black; 
    background-color: #dddddd; 
    border-radius: 100px; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); 
  }
  
  .icon:hover {
    background-color: #cecece; 
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3); 
  }
  
  /* Add this back for the Devices button hover effect */
  #devices:hover {
    transition: background-image 1.5s ease;
    background-image: url("matrix.gif");
  }

  #Security:hover{
    transition: background-image 5s ease;
    background-image: url("matrixRed.gif");
  }

  #settings:hover{ 
    transition: background-image 5s ease;
    background-image: url("matrixBlue.gif")
  }

  #index:hover{
    transition: background-image 5s ease;
    background-image: url("matrixOrange.gif")
  }
    